In [194]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
from imblearn.over_sampling import SMOTE
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from imblearn.under_sampling import TomekLinks

In [195]:
data = pd.read_csv(r'C:\Users\btdjf\Desktop\Ironhack 2\Lab Cross Validation\lab-cross-validation\files_for_lab\Customer-Churn.csv')
data

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.5,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,No,Yes,Yes,Yes,Yes,One year,84.80,1990.5,No
7039,Female,0,Yes,Yes,72,Yes,No,Yes,Yes,No,Yes,Yes,One year,103.20,7362.9,No
7040,Female,0,Yes,Yes,11,No,Yes,No,No,No,No,No,Month-to-month,29.60,346.45,No
7041,Male,1,Yes,No,4,Yes,No,No,No,No,No,No,Month-to-month,74.40,306.6,Yes
7042,Male,0,No,No,66,Yes,Yes,No,Yes,Yes,Yes,Yes,Two year,105.65,6844.5,No

In [196]:
data = data.replace({'Yes': 1, 'No': 0}, regex = True)
data

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,1,0,1,0,0,1,0,0,0,0,Month-to-month,29.85,29.85,0
1,Male,0,0,0,34,1,1,0,1,0,0,0,One year,56.95,1889.5,0
2,Male,0,0,0,2,1,1,1,0,0,0,0,Month-to-month,53.85,108.15,1
3,Male,0,0,0,45,0,1,0,1,1,0,0,One year,42.30,1840.75,0
4,Female,0,0,0,2,1,0,0,0,0,0,0,Month-to-month,70.70,151.65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,1,1,24,1,1,0,1,1,1,1,One year,84.80,1990.5,0
7039,Female,0,1,1,72,1,0,1,1,0,1,1,One year,103.20,7362.9,0
7040,Female,0,1,1,11,0,1,0,0,0,0,0,Month-to-month,29.60,346.45,0
7041,Male,1,1,0,4,1,0,0,0,0,0,0,Month-to-month,74.40,306.6,1
7042,Male,0,0,0,66,1,1,0,1,1,1,1,Two year,105.65,6844.5,0

In [197]:
data['Contract'].value_counts()

Contract
Month-to-month    3875
Two year          1695
One year          1473
Name: count, dtype: int64

In [198]:
data['Contract'].replace({"Month-to-month": 1, "One year": 2, "Two year": 3}, inplace = True)
data

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,1,0,1,0,0,1,0,0,0,0,1,29.85,29.85,0
1,Male,0,0,0,34,1,1,0,1,0,0,0,2,56.95,1889.5,0
2,Male,0,0,0,2,1,1,1,0,0,0,0,1,53.85,108.15,1
3,Male,0,0,0,45,0,1,0,1,1,0,0,2,42.30,1840.75,0
4,Female,0,0,0,2,1,0,0,0,0,0,0,1,70.70,151.65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,1,1,24,1,1,0,1,1,1,1,2,84.80,1990.5,0
7039,Female,0,1,1,72,1,0,1,1,0,1,1,2,103.20,7362.9,0
7040,Female,0,1,1,11,0,1,0,0,0,0,0,1,29.60,346.45,0
7041,Male,1,1,0,4,1,0,0,0,0,0,0,1,74.40,306.6,1
7042,Male,0,0,0,66,1,1,0,1,1,1,1,3,105.65,6844.5,0

In [199]:
data['gender'].replace({"Female": 1, "Male": 2,}, inplace = True)
data

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,1,0,1,0,1,0,0,1,0,0,0,0,1,29.85,29.85,0
1,2,0,0,0,34,1,1,0,1,0,0,0,2,56.95,1889.5,0
2,2,0,0,0,2,1,1,1,0,0,0,0,1,53.85,108.15,1
3,2,0,0,0,45,0,1,0,1,1,0,0,2,42.30,1840.75,0
4,1,0,0,0,2,1,0,0,0,0,0,0,1,70.70,151.65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2,0,1,1,24,1,1,0,1,1,1,1,2,84.80,1990.5,0
7039,1,0,1,1,72,1,0,1,1,0,1,1,2,103.20,7362.9,0
7040,1,0,1,1,11,0,1,0,0,0,0,0,1,29.60,346.45,0
7041,2,1,1,0,4,1,0,0,0,0,0,0,1,74.40,306.6,1
7042,2,0,0,0,66,1,1,0,1,1,1,1,3,105.65,6844.5,0

In [200]:
data.dtypes

gender                int64
SeniorCitizen         int64
Partner               int64
Dependents            int64
tenure                int64
PhoneService          int64
OnlineSecurity        int64
OnlineBackup          int64
DeviceProtection      int64
TechSupport           int64
StreamingTV           int64
StreamingMovies       int64
Contract              int64
MonthlyCharges      float64
TotalCharges         object
Churn                 int64
dtype: object

In [201]:
data.isna().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [202]:
data

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,1,0,1,0,1,0,0,1,0,0,0,0,1,29.85,29.85,0
1,2,0,0,0,34,1,1,0,1,0,0,0,2,56.95,1889.5,0
2,2,0,0,0,2,1,1,1,0,0,0,0,1,53.85,108.15,1
3,2,0,0,0,45,0,1,0,1,1,0,0,2,42.30,1840.75,0
4,1,0,0,0,2,1,0,0,0,0,0,0,1,70.70,151.65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2,0,1,1,24,1,1,0,1,1,1,1,2,84.80,1990.5,0
7039,1,0,1,1,72,1,0,1,1,0,1,1,2,103.20,7362.9,0
7040,1,0,1,1,11,0,1,0,0,0,0,0,1,29.60,346.45,0
7041,2,1,1,0,4,1,0,0,0,0,0,0,1,74.40,306.6,1
7042,2,0,0,0,66,1,1,0,1,1,1,1,3,105.65,6844.5,0

In [203]:
data.dtypes

gender                int64
SeniorCitizen         int64
Partner               int64
Dependents            int64
tenure                int64
PhoneService          int64
OnlineSecurity        int64
OnlineBackup          int64
DeviceProtection      int64
TechSupport           int64
StreamingTV           int64
StreamingMovies       int64
Contract              int64
MonthlyCharges      float64
TotalCharges         object
Churn                 int64
dtype: object

In [204]:
data['TotalCharges'].replace({" ": 0,}, inplace = True)
data

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,1,0,1,0,1,0,0,1,0,0,0,0,1,29.85,29.85,0
1,2,0,0,0,34,1,1,0,1,0,0,0,2,56.95,1889.5,0
2,2,0,0,0,2,1,1,1,0,0,0,0,1,53.85,108.15,1
3,2,0,0,0,45,0,1,0,1,1,0,0,2,42.30,1840.75,0
4,1,0,0,0,2,1,0,0,0,0,0,0,1,70.70,151.65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2,0,1,1,24,1,1,0,1,1,1,1,2,84.80,1990.5,0
7039,1,0,1,1,72,1,0,1,1,0,1,1,2,103.20,7362.9,0
7040,1,0,1,1,11,0,1,0,0,0,0,0,1,29.60,346.45,0
7041,2,1,1,0,4,1,0,0,0,0,0,0,1,74.40,306.6,1
7042,2,0,0,0,66,1,1,0,1,1,1,1,3,105.65,6844.5,0

In [205]:
data.dtypes

gender                int64
SeniorCitizen         int64
Partner               int64
Dependents            int64
tenure                int64
PhoneService          int64
OnlineSecurity        int64
OnlineBackup          int64
DeviceProtection      int64
TechSupport           int64
StreamingTV           int64
StreamingMovies       int64
Contract              int64
MonthlyCharges      float64
TotalCharges         object
Churn                 int64
dtype: object

In [206]:
data

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,1,0,1,0,1,0,0,1,0,0,0,0,1,29.85,29.85,0
1,2,0,0,0,34,1,1,0,1,0,0,0,2,56.95,1889.5,0
2,2,0,0,0,2,1,1,1,0,0,0,0,1,53.85,108.15,1
3,2,0,0,0,45,0,1,0,1,1,0,0,2,42.30,1840.75,0
4,1,0,0,0,2,1,0,0,0,0,0,0,1,70.70,151.65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2,0,1,1,24,1,1,0,1,1,1,1,2,84.80,1990.5,0
7039,1,0,1,1,72,1,0,1,1,0,1,1,2,103.20,7362.9,0
7040,1,0,1,1,11,0,1,0,0,0,0,0,1,29.60,346.45,0
7041,2,1,1,0,4,1,0,0,0,0,0,0,1,74.40,306.6,1
7042,2,0,0,0,66,1,1,0,1,1,1,1,3,105.65,6844.5,0

In [207]:
X = data.drop('Churn', axis=1)
y = data['Churn']

In [208]:
smote = SMOTE()
X_resampled, y_resampled = smote.fit_resample(X, y)

In [209]:
X_train, X_test, y_train, y_test = train_test_split(X_resampled, y_resampled, test_size=0.2, random_state=42)

In [210]:
logistic_regression = LogisticRegression()
logistic_regression.fit(X_train, y_train)

LogisticRegression()

In [211]:
y_pred = logistic_regression.predict(X_test)
y_pred

array([1, 0, 0, ..., 1, 1, 1], dtype=int64)

In [212]:
accuracy = accuracy_score(y_test, y_pred)
accuracy

0.8294685990338164

In [213]:
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, y_train)

DecisionTreeClassifier()

In [214]:
y_pred = decision_tree.predict(X_test)
y_pred

array([1, 0, 0, ..., 1, 1, 0], dtype=int64)

In [215]:
accuracy = accuracy_score(y_test, y_pred)
accuracy

0.7782608695652173

In [216]:
tomek_links = TomekLinks()
X_resampled, y_resampled = tomek_links.fit_resample(X, y)

In [217]:
X_train, X_test, y_train, y_test = train_test_split(X_resampled, y_resampled, test_size=0.2, random_state=42)

In [218]:
logistic_regression = LogisticRegression()
logistic_regression.fit(X_train, y_train)

LogisticRegression()

In [219]:
y_pred = logistic_regression.predict(X_test)
y_pred

array([1, 0, 0, ..., 1, 0, 0], dtype=int64)

In [225]:
accuracy = accuracy_score(y_test, y_pred)
accuracy

0.7312741312741313

In [226]:
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, y_train)

DecisionTreeClassifier()

In [227]:
y_pred = decision_tree.predict(X_test)
y_pred

array([0, 1, 0, ..., 1, 0, 1], dtype=int64)

In [228]:
accuracy = accuracy_score(y_test, y_pred)
accuracy

0.738996138996139